@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <input type="button" title="Generate" value="Generate Ominous Statement" onclick="location.href='@Url.Action("OSGenerate", "Home")'" />
</div>