@model OSGenerator.Models.Root

@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#ominous-button').click(function () {
            $('#ominous-statement').toggle();
        });
    });
</script>

<div class="jumbotron">
    <input type="button" id="ominous-button" title="Generate" value="Generate Ominous Statement" onclick="location.href='@Url.Action("OSGenerate", "Home")'" />
    @*<input type="button" id="ominous-button" title="Generate" value="Generate Ominous Statement" />*@
    <input type="text" id="ominous-statement" />
</div>